<div class="panel-tab clearfix">
    <ul class="nav nav-tabs">
        <li ui-sref-active="active">
            <a ui-sref="member.data.detail({memberId:memberId})">
                <i class="fa fa-user"></i> 基本资料
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="member.data.expenseRecord({memberId:memberId})">
                <i class="fa fa-edit"></i> 消费记录
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="member.data.chargeRecord({memberId:memberId})">
                <i class="fa fa-tasks"></i> 充值记录
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="member.data.hanginAccount({memberId:memberId})">
                <i class="fa fa-pencil fa-lg"></i> 挂账结算
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="member.data.putUpRecord({memberId:memberId})">
                <i class="fa fa-bookmark fa-lg"></i> 挂单记录
            </a>
        </li>
    </ul>
</div>
