<div class="panel-body">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="col-md-2 text-center">配置项</th>
				<th class="col-md-10">配置值</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center">门店名称</td>
				<td>{{oShop.name}}</td>
			</tr>
			<tr>
				<td class="text-center">所属品牌</td>
				<td>{{oShop.brand}}</td>
			</tr>
			<!-- <tr>
				<td class="text-center">所属区域</td>
				<td>{{oShop.zone}}</td>
			</tr> -->
			<tr>
				<td class="text-center">门店地址</td>
				<td>{{oShop.address}}</td>
			</tr>
			<tr>
				<td class="text-center">门店联系方式</td>
				<td>{{oShop.telephone}}</td>
			</tr>
			<tr>
				<td class="text-center">联系人</td>
				<td>{{oShop.contactPerson}}</td>
			</tr>
			<tr>
				<td class="text-center">联系人电话</td>
				<td>{{oShop.contactMobile}}</td>
			</tr>
			<!-- <tr>
				<td class="text-center">联系人Email</td>
				<td>{{oShop.email}}</td>
			</tr> -->
			<tr>
				<td class="text-center">定价方案</td>
				<td>{{oShop.planName}}</td>
			</tr>
			<tr>
				<td class="text-center">创建时间</td>
				<td>{{oShop.createon}}</td>
			</tr>
			<tr>
				<td class="text-center">备注</td>
				<td>{{oShop.remark}}</td>
			</tr>
		</tbody>
	</table>
</div>
