<div class="panel-tab clearfix">
	<ul class="nav nav-tabs">
		<li ui-sref-active="active">
			<a href="" ui-sref="info">
				<i class="fa fa-home"></i> 基本信息
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="config">
				<i class="fa fa-link"></i> 门店参数
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="role">
				<i class="fa fa-users"></i> 岗位类型
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="staff">
				<i class="fa fa-user"></i> 员工资料
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="table">
				<i class="fa fa-cutlery"></i> 餐桌资料
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="printer">
				<i class="fa fa-print"></i> 打印机
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="pos">
				<i class="fa fa-desktop"></i> 收银机
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="printing">
				<i class="fa fa-tasks"></i> 打印方案
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="correlation">
				<i class="fa fa-external-link"></i> 菜品厨打关联
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="discount">
				<i class="fa fa-credit-card"></i> 折扣方案
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="lineup">
				<i class="fa fa-group"></i> 排队设置
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="payment">
				<i class="fa fa-money"></i> 收银方式
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="managers">
				<i class="fa fa-user-md"></i> 成员管理
			</a>
		</li>
	</ul>
</div>
