<div class="right-content">
    <div class="row">
        <div class="panel panel-default col-md-12 col-lg-8" style="margin-bottom: 300px">
            <div class="panel-heading">
                <a class="return-up" ui-sref="system.goods">
                    <i class="glyphicon glyphicon-arrow-up"></i> 返回上一级</a>{{goodsTypeName}}
            </div>
            <div ng-include="'/assets/templates/system/goods.detail.nav.html'"></div>
            <div class="panel-body">
                <div class="row">
                    <div class="btn-group city-plug padding-l-15">
                        <button class="btn btn-default dropdown-toggle pull-left" ng-click="openMenu($event)">
                            <span class="pull-left" ng-bind="indexTab"></span>
                            <div class="city-plug-t text-right">
                                <span class="caret"></span>
                            </div>
                        </button>
                        <div class="dropdown-menu city-menu" style="width:300px; left:15px; display:block" ng-show="isMenuOpen" ng-click="stopPropagation($event)">
                            <!--国家-->
                            <ul class="f-cb province-ul">
                                <li ng-click="selCountry()"><a href="javascript:void(0);" class="active">中国</a></li>
                            </ul>
                            <!--省-->
                            <ul class="f-cb province-ul">
                                <div class="divider" style="clear:both"></div>
                                <li data-citytype="country" data-areaId="1" ng-repeat="x in countryData" ng-click="selProvince(x)">
                                    <a href="javascript:void(0);" ng-class="{active:x.selected}">{{x.name}}</a>
                                </li>
                            </ul>
                            <div ng-show="cities">
                                <div class="divider" style="clear:both"></div>
                                <!--城市-->
                                <ul class="f-cb city-ul">
                                    <li data-citytype="city" ng-repeat="x in cities" ng-click="selCity(x)">
                                        <a href="javascript:void(0);" ng-class="{active:x.selected}">{{x.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--<ul class="dropdown-menu shop-menu" style="width:300px; left:320px; max-height: 300px;overflow-y: auto; display:block" ng-hide="!isMenuOpen||shopsData.length==0">
                  <li ng-repeat="x in shopsData" ng-click="selShop(x)">
                    <a href="javascript:void(0);" ng-class="{active:x.sel}">{{x.name}}</a>
                  </li>
                </ul>-->
                    </div>
                </div>

                <ul class="list-group list-inline gap-top" style="margin-bottom:-10px;">
                    <li><i class="fa fa-umbrella fa-lg font-14"></i> <span class="m-left-xs"><strong>状态:</strong></span>
                    </li>
                    <li class="cursor-pointer font-14" ng-class="{'bg-success':x.selected}" ng-repeat="x in states" ng-click="tab(x.id,allSelected)" ng-bind="x.name"></li>
                </ul>

                <form class="row fadeInUp animation-delay1" style="margin-top:15px;margin-bottom: -5px;" ng-show="batchAddShow" name="myForm">
                    <div class="col-md-2" style="padding-right:0px !important;">
                        <div><small class="text-muted">新价格(元):</small></div>
                        <div ng-class='{"has-error":myForm.newPrice.$invalid && myForm.newPrice.$dirty}'>
                            <input type="text" class="form-control input-md" ng-model="addModel.newPrice" name="newPrice" ng-pattern="/^[0-9]+(.[0-9]{1,2})?$/">
                            <div class="error" ng-show="myForm.newPrice.$invalid && myForm.newPrice.$dirty" style="color:#bb4442;"><small>新价格只能是大于或等于0的数字</small></div>
                        </div>
                    </div>
                    <!--
              <div style="width: 51px;margin-left:13px;float: left;">
                <div><small class="text-muted">自助渠道:</small></div>
                <label class="label-checkbox">
                  <input type="checkbox" class="check-item" ng-model="addModel.selfService">
                  <span class="custom-checkbox"></span>
                </label>
              </div>
          	-->
                    <div class="col-md-2" style="padding-right:0px !important;">
                        <div><small class="text-muted">市别:</small></div>
                        <select class="form-control input-md" ng-model="addModel.serviceHour" ng-options="sh.id as sh.name for sh in serviceHours"></select>
                    </div>
                    <div class="col-md-7" style="padding-right:0px !important;">
                        <div class="input-group" style="float: left;">
                            <div><small class="text-muted">星期几销售:</small></div>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="true" ng-model="addModel.monday">
                                <span class="custom-checkbox"></span>周一
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="true" ng-model="addModel.tuesday">
                                <span class="custom-checkbox"></span>周二
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="true" ng-model="addModel.wednesday">
                                <span class="custom-checkbox"></span>周三
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="true" ng-model="addModel.thursday">
                                <span class="custom-checkbox"></span>周四
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="true" ng-model="addModel.friday">
                                <span class="custom-checkbox"></span>周五
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="true" ng-model="addModel.saturday">
                                <span class="custom-checkbox"></span>周六
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="true" ng-model="addModel.sunday">
                                <span class="custom-checkbox"></span>周天
                            </label>
                        </div>
                        <div style="float: left;padding-left: 15px;">
                            <div><small class="text-muted">生效时间:</small></div>
                            <input ng-model="addModel.beginTime" class="form-control datepicker datepickerTime time-cursor-pointer" type="text" placeholder="生效时间" data-date-picktime="false" data-date-language="zh-cn" data-date-showtoday="true" datepicker-dir readonly required>
                        </div>
                        <button class="btn btn-info btn-sm" type="submit" ng-disabled="myForm.$invalid" style="margin-left: 15px;margin-top: 22px;" ng-click="batchSave()">保存</button>
                    </div>
                </form>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover gap-top">
                            <thead>
                                <tr>
                                    <th width="40px">
                                        <label class="label-checkbox">
                                            <input type="checkbox" class="check-all" ng-change="selectAllShop(allSelected)" ng-model="allSelected">
                                            <span class="custom-checkbox"></span>
                                        </label>
                                    </th>
                                    <th width="40px">#</th>
                                    <th class="col-md-3">门店</th>
                                    <th class="col-md-1">价格(元)</th>
                                    <th class="col-md-2">新价格(元)</th>
                                    <!--<th class="col-md-1 text-center">自助渠道</th>-->
                                    <th class="col-md-2">市别</th>
                                    <th class="col-md-4">销售时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="model in models" ng-click="openEdit(model)" ng-show="model.hasApply == showShopState" ng-keydown="keyDown($event,model)" name="listTr">
                                    <td ng-click="selectShop($event, model)">
                                        <label class="label-checkbox">
                                            <input type="checkbox" class="check-item" ng-model="model.selected">
                                            <span class="custom-checkbox"></span>
                                        </label>
                                    </td>
                                    <td ng-bind="model.index"></td>
                                    <td ng-bind="model.name"></td>
                                    <td colspan="2">
                                        <div ng-repeat="goods in model.goodses" class="row">
                                            <div class="col-md-4">
                                                <div ng-hide="model.isEdit">
                                                    <span ng-bind="goods.price" ng-show="goods.price>=0"></span><span ng-show="goods.price">元 (<span ng-bind="goods.unitType"></span>)</span>
                                                </div>
                                                <div ng-show="model.isEdit" style="line-height: 40px; margin-bottom: 12px;">
                                                    <span ng-bind="goods.price"></span><span ng-show="goods.price">元 (<span ng-bind="goods.unitType"></span>)</span>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div ng-show="model.isEdit">
                                                    <input type="text" class="form-control newPrice2" name="newPrice2" ng-model="goods.newPrice" />
                                                    <small class="text-muted">规格:(<span ng-bind="goods.unitType"></span>)</small>,
                                                    <small class="text-muted">销售方式:(<span ng-bind="goods.productTypeName"></span>)</small>
                                                </div>
                                            </div>
                                            <!--
                        <div class="col-md-4 text-center">
                          <div ng-hide="model.isEdit">
                            <i ng-show="goods.selfService" class="fa fa-check fa-lg" style="font-size: 14px;"></i>
                          </div>
                          <div ng-show="model.isEdit" style="line-height: 40px; margin-bottom: 12px; cursor: pointer;">
                            <label class="label-checkbox">
                              <input type="checkbox" class="check-item" ng-model="goods.selfService">
                              <span class="custom-checkbox"></span>
                            </label>
                          </div>
                        </div>
          			  -->
                                        </div>
                                    </td>
                                    <td>
                                        <span ng-hide="model.isEdit" ng-bind="model.serviceHourName"></span>
                                        <select ng-show="model.isEdit" class="form-control input-md" ng-model="model.serviceHour" ng-options="sh.id as sh.name for sh in serviceHours"></select>
                                    </td>
                                    <td>
                                        <div ng-hide="model.isEdit">
                                            <span ng-show="model.monday">周一</span>
                                            <span ng-show="model.tuesday">周二</span>
                                            <span ng-show="model.wednesday">周三</span>
                                            <span ng-show="model.thursday">周四</span>
                                            <span ng-show="model.friday">周五</span>
                                            <span ng-show="model.saturday">周六</span>
                                            <span ng-show="model.sunday">周天</span>
                                        </div>
                                        <div ng-if="model.isEdit">
                                            <div><small class="text-muted">星期几销售:</small></div>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="true" ng-model="model.monday">
                                                <span class="custom-checkbox"></span>周一
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="true" ng-model="model.tuesday">
                                                <span class="custom-checkbox"></span>周二
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="true" ng-model="model.wednesday">
                                                <span class="custom-checkbox"></span>周三
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="true" ng-model="model.thursday">
                                                <span class="custom-checkbox"></span>周四
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="true" ng-model="model.friday">
                                                <span class="custom-checkbox"></span>周五
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="true" ng-model="model.saturday">
                                                <span class="custom-checkbox"></span>周六
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="true" ng-model="model.sunday">
                                                <span class="custom-checkbox"></span>周天
                                            </label>
                                            <div style="margin-top: 8px;"><small class="text-muted">生效时间:</small></div>
                                            <input ng-model="model.beginTime" class="form-control datepicker datepickerTime time-cursor-pointer" type="text" placeholder="生效时间" data-date-picktime="false" data-date-language="zh-cn" data-date-showtoday="true" datepicker-dir readonly required>
                                            <div style="margin-top: 8px;">
                                                <a class="btn btn-info btn-sm" ng-click="saveData($event,model)">保存</a>
                                                <a class="btn btn-default btn-sm" ng-click="cancelEdit($event,model)">取消</a>
                                                <a ng-show="model.hasApply" class="btn btn-danger btn-sm pull-right" ng-click="deleteData(model.shop)">删除</a>
                                                <div ng-show="model.hasApply">
                                                    <small class="text-danger pull-right">删除该菜品定价后，该定价不再有效</small>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
