<div class="right-content">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="panel panel-default">
        <div ng-include="'/assets/templates/system/return.bar.html'"></div>
        <div id="container"></div>
        <script id="tpl" type="text/ractive">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-toolbar">
                  <div class="btn-group">
                    <button type="button" id="addBtn" class="btn btn-sm btn-success">
                      <i class="fa fa-plus"></i> 新增
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped gap-top">
                  <thead>
                    <tr>
                      <th width="40px">#</th>
                      <th class="col-md-2">市别名称</th>
                      <th class="text-center col-md-2">开始时间</th>
                      <th class="text-center col-md-2">结束时间</th>
                      <th class="col-md-6">备注</th>
                    </tr>
                  </thead>
                  <tbody id="tablebody">
                    {{#adding}}
                    <tr on-escape='cancelSave' on-enter='saveModel' id="form">
                      <td></td>
                      <td>
                        <input type="text" class="form-control input-md" id="model-name" value="{{addingModel.name}}" data-required="true" data-minlength="1" />
                        <small class="text-muted">市别的名称, 如早市</small>
                      </td>
                      <td>
                        <input type="text" class="form-control input-md" id="beginTime" value="{{addingModel.beginTime}}" data-required="true" data-date-format="HH:mm:00" data-date-pickDate='false' data-date-language='zh-cn' data-date-showToday='true' />
                        <small class="text-muted">市别开始时间, 如 10:00</small>
                      </td>
                      <td>
                        <input type="text" class="form-control input-md" id="endTime" value="{{addingModel.endTime}}" data-required="true" data-date-format="HH:mm:00" data-date-pickDate='false' data-date-language='zh-cn' data-date-showToday='true' />
                        <small class="text-muted">市别结束时间, 如 20:30</small>
                      </td>
                      <td>
                        <input type="text" class="form-control input-md" value="{{addingModel.remark}}" />
                        <small class="text-muted">备注信息</small>
                        <div class="gap-top">
                          <a class="btn btn-info btn-sm" on-click='saveModel'>保存</a>
                          <a class="btn btn-default btn-sm gap-left" on-click="cancelSave">取消</a>
                        </div>
                      </td>
                    </tr>
                    {{/adding}} {{#models:num}} {{#id != editing}}
                    <tr>

                      <td>{{num+1}}</td>
                      <td on-click="editModel:{{id}}">
                        {{.name}}
                      </td>
                      <td class="text-center" on-click="editModel:{{id}}">
                        {{.beginTime}}
                      </td>
                      <td class="text-center" on-click="editModel:{{id}}">
                        {{.endTime}}
                      </td>
                      <td on-click="editModel:{{id}}">
                        {{.remark}}
                      </td>
                    </tr>
                    {{/id != editing}} {{#id == editing}}
                    <tr on-escape='cancelUpdate' on-enter='updateModel:{{.id}}' id="form">
                      <td>{{num+1}}</td>
                      <td>
                        <input type="text" class="form-control input-md" id="model-name" value="{{editingModel.name}}" data-required="true" data-minlength="1" />
                        <small class="text-muted">市别的名称, 如早市</small>
                      </td>
                      <td>
                        <input type="text" id="beginTime" class="form-control input-md" value='{{editingModel.beginTime}}' data-required="true" data-date-format="HH:mm:00" data-date-pickDate='false' data-date-language='zh-cn' />
                        <small class="text-muted">市别开始时间, 如 10:00</small>
                      </td>
                      <td>
                        <input type="text" id="endTime" class="form-control input-md" value='{{editingModel.endTime}}' data-required="true" data-date-format="HH:mm:00" data-date-pickDate='false' data-date-language='zh-cn' />
                        <small class="text-muted">市别结束时间按 如 20:30</small>
                      </td>
                      <td>
                        <input type="text" class="form-control input-md" value="{{editingModel.remark}}" />
                        <small class="text-muted">备注信息</small>
                        <div class="gap-top">
                          <a class="btn btn-info btn-sm" on-click='updateModel:{{id}}'>保存</a>
                          <a class="btn btn-default btn-sm gap-left" on-click="cancelUpdate">取消</a> {{#editing > 0}}
                          <a class="btn btn-danger btn-sm pull-right" on-click='removeModel'>删除</a> {{/}}
                        </div>
                      </td>
                    </tr>
                    {{/id == editing}} {{/models}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </script>
      </div>
    </div>
  </div>
</div>
