<div class="row">
  <div class="col-md-12 col-lg-7 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <i class="fa fa-wrench fa-lg"></i> 系统管理
      </div>
      <div class="panel-body">
        <a class="btn quick-btn grid-button" ui-sref="system.group">
          <i class="glyphicon glyphicon-film"></i>
          <span>菜品分类</span></a>
        <a class="btn quick-btn grid-button" ui-sref="system.goods">
          <i class="glyphicon glyphicon-list"></i>
          <span>菜品资料</span></a>
        <a class="btn quick-btn grid-button" ui-sref="system.unit">
          <i class="glyphicon glyphicon-cutlery"></i>
          <span>规格管理</span></a>
        <a class="btn quick-btn grid-button" ui-sref="system.method">
          <i class="fa fa-legal"></i>
          <span>做法管理</span></a>
        <div class="line"></div>
        <a class="btn quick-btn grid-button"ui-sref="system.set">
          <i class="glyphicon glyphicon-bookmark"></i>
          <span>套餐管理</span></a>
        <a class="btn quick-btn grid-button" ui-sref="system.tabletype">
          <i class="glyphicon glyphicon-th-large"></i>
          <span>餐桌类型</span></a>
        <a class="btn quick-btn grid-button" ui-sref="system.discount">
          <i class="fa fa-tasks"></i>
          <span>折扣设置</span></a>
        <a class="btn quick-btn grid-button" ui-sref="system.servicehour">
          <i class="fa fa-clock-o"></i>
          <span>营业市别</span></a>
        <div class="line"></div>
        <a class="btn quick-btn grid-button" ui-sref="system.payments">
          <i class="fa fa-shopping-cart"></i>
          <span>收银方式</span></a>
        <a class="btn quick-btn grid-button" ui-sref="system.team">
          <i class="fa fa-bars"></i>
          <span>账号管理</span></a>
        <a class="btn quick-btn grid-button" ui-sref="system.settings">
          <i class="fa fa-certificate"></i>
          <span>参数设置</span></a>
        <a class="btn quick-btn grid-button" ui-sref="system.auditlog">
          <i class="fa fa-eye"></i>
          <span>审计日志</span></a>
        <div class="line"></div>
        <a class="btn quick-btn grid-button" ui-sref="system.platform">
          <i class="icon iconfont icon-weixin font-40"></i>
          <span>微信设置</span></a>
        <a class="btn quick-btn grid-button" ui-sref="system.statManage">
          <i class="fa fa-trash-o"></i>
          <span>数据管理</span></a>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>
