<div class="panel panel-default fadeInDown">
<div class="panel-heading">
  <a class="return-up" href="/home/brand/{{brandId}}/system">
    <i class="glyphicon glyphicon-arrow-up"></i> 返回上一级</a><i class="icon iconfont icon-weixin"></i> 公众号设置
</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-12">
        <div class="btn-toolbar">
          <div class="btn-group">
            <button type="button" class="btn btn-md btn-success" ng-click="createAuth()"><i class="fa fa-plus"></i> 创建公众号托管</button>
          </div>
        </div>
      </div>
    </div>
    <div class="seperator"></div>
    <div class="panel panel-default" ng-show="isCreate">
      <div class="panel-heading">创建公众号托管</div>
      <div class="panel-body">
        <div class="form-horizontal" id="form">
         <div class="text-muted font-12">只提供企业号的托管服务</div>
          <div class="form-group">
            <label for="inputLicense" class="col-lg-2 control-label">默认会员类型:</label>
            <div class="seperator"></div>
            <div class="col-lg-6">
              <select class="form-control input-md" ng-model="memberType">
                <option ng-repeat="x in memberTypes" value="{{x.id}}">{{x.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-6">
              <button type="submit" class="btn btn-success btn-sm" ng-click="auth()">授权</button>
              <button type="submit" class="btn btn-default btn-sm" ng-click="cancelCraete()">取消</button>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-3" ng-repeat="x in authList" ui-sref="weixinSet.menuset({auId:{{x.authId}}})">
        <div class="panel panel-default pricing-widget">
          <div class="panel-body" style="height:120px;">
            <div class="pull-left m-left-sm">
              <strong class="font-14 block text-over">{{x.appInfo==""?'公众帐号':x.appInfo}}</strong>
              <div class="text-muted text-over">默认会员类型:{{x.memberType.name}}</div>
              <div class="text-muted font-12 text-over">APPID:{{x.appId}}</div>
              <!-- <div class="text-muted font-12 text-over">点击进入相关设置</div> -->
              <div class="seperator"></div>
              <a class="btn btn-xs btn-success">状态:正常</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
