<div class="panel-tab clearfix">
	<ul class="nav nav-tabs">
		<li ui-sref-active="active">
			<a href="" ui-sref="goods">
				<i class="fa fa-bars"></i> 菜品定价
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="method">
				<i class="fa fa-bars"></i> 做法定价
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="surcharge">
				<i class="fa fa-clock-o"></i> 服务费设置
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="mincharge">
				<i class="fa fa-spinner"></i> 低消设置
			</a>
		</li>
		<li ui-sref-active="active">
			<a href="" ui-sref="teafee">
				<i class="fa fa-fire"></i> 茶位设置
			</a>
		</li>
	</ul>
</div>
