<div class="panel panel-default promotion">
  <div class="panel-heading">创建促销活动
    <span class="pull-right"><a class="text-info" ui-sref="voucherManage">券管理  </a>| <a class="text-info" ui-sref="promotion">活动管理</a></span>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-12">
        <div class="bg-success small activity-icon" style="border-radius:50%">
          <i class="fa fa-usd"></i>
        </div>
        <div class="pull-left m-left-sm">
          <span>常见促销</span>
          <br>
          <small class="text-muted">
            丰富的促销活动,可以刺激顾客的消费热情,带来更多的消费额</small>
        </div>
      </div>
    </div>
    <div class="seperator"></div>
    <div class="seperator"></div>
    <div class="row">
      <div class="col-md-3" ui-sref="promotion1">
        <div class="panel panel-default pricing-widget">
          <div class="panel-heading">
            <span class="text-info font-18">特价</span>
          </div>
          <div class="panel-body" style="padding:10px ;height:64px;">
            <p class="font-12 text-muted">帮助商户扩大市场份额，领跑销量，同时也可以帮助某些长期滞销菜打开销量</p>
          </div>
        </div>
      </div>

      <div class="col-md-3" ui-sref="promotion9">
        <div class="panel panel-default pricing-widget">
          <div class="panel-heading">
            <a href="#promotion9" class="text-info font-18">会员充值营销</a>
          </div>
          <div class="panel-body" style="padding:10px ;height:64px;">
            <p class="font-12 text-muted">建立会员储值体系，绑住顾客，迅速获得资金流</p>
          </div>
        </div>
      </div>

      <div class="col-md-3" ui-sref="promotion10">
        <div class="panel panel-default pricing-widget">
          <div class="panel-heading">
            <a href="#promotion10" class="text-info font-18">会员价格</a>
          </div>
          <div class="panel-body" style="padding:10px ;height:64px;">
            <p class="font-12 text-muted">区分普通消费者和会员，让会员感受到vip的待遇</p>
          </div>
        </div>
      </div>

      <div class="col-md-3" ui-sref="promotion11">
        <div class="panel panel-default pricing-widget">
          <div class="panel-heading">
            <a href="#promotion11" class="text-info font-18">打折促销</a>
          </div>
          <div class="panel-body" style="padding:10px; height:64px;">
            <p class="font-12 text-muted">针对不同等级的会员设置不同的折扣力度，增加会员粘性</p>
          </div>
        </div>
      </div>

    </div>
    <div class="seperator"></div>
    <div class="seperator"></div>
    <div class="seperator"></div>
    <div class="seperator"></div>








    <div class="row">
      <div class="col-md-12">
        <div class="bg-success small activity-icon" style="border-radius:50%">
          <i class="fa fa-plus"></i>
        </div>
        <div class="pull-left m-left-sm">
          <span class="f-fs-4">增加新客户</span>
          <br>
          <small class="text-muted">
            针对新会员进行优惠活动，让会员关注量上升</small>
        </div>
      </div>
    </div>
    <div class="seperator"></div>
    <div class="seperator"></div>
    <div class="row">

      <div class="col-md-3" ui-sref="promotion12">
        <div class="panel panel-default pricing-widget">
          <div class="panel-heading">
            <a href="#promotion12" class="text-info font-18">填资料赠券</a>
          </div>
          <div class="panel-body" style="padding:10px  ;height:64px;">
            <p class="font-12 text-muted">获取顾客信息，分析顾客消费习惯，帮助商户做到精准营销</p>
          </div>
        </div>
      </div>

    </div>
    <div class="seperator"></div>
    <div class="seperator"></div>
    <div class="seperator"></div>
    <div class="seperator"></div>







    <!-- <div class="row">
      <div class="col-md-12">
        <div class="bg-success small activity-icon" style="border-radius:50%">
          <i class="fa fa-usd"></i>
        </div>
        <div class="pull-left m-left-sm">
          <span>稳定老客户</span>
          <br>
          <small class="text-muted">
          对已成为本店会员的老顾客，通过以下营销策略，维系良好的会员关系，增加来店次数等来提高营业额</small>
        </div>
      </div>
    </div>
    <div class="seperator"></div>
    <div class="seperator"></div>
    <div class="row"></div>
    <div class="seperator"></div>
    <div class="seperator"></div>
    <div class="seperator"></div>
    <div class="seperator"></div>

-->




    <!-- <div class="row">
      <div class="col-md-12">
        <div class="bg-success small activity-icon" style="border-radius:50%">
          <i class="fa fa-usd"></i>
        </div>
        <div class="pull-left m-left-sm">
          <span>客户关怀</span>
          <br>
          <small class="text-muted">
            通过以下营销策略，增加客户与品牌的互动，建立情感联系与依存关系
          </small>
        </div>
      </div>
    </div>
    <div class="seperator"></div>
    <div class="seperator"></div>
    <div class="row">

      <div class="col-md-3" ui-sref="promotion13">
        <div class="panel panel-default pricing-widget">
          <div class="panel-heading">
            <a href="#promotion12" class="text-info font-18">生日赠券</a>
          </div>
          <div class="panel-body" style="padding:10px  ;height:64px;">
            <p class="font-12 text-muted">获取顾客信息，分析顾客消费习惯，帮助商户做到精准营销</p>
          </div>
        </div>
      </div>

      <div class="col-md-3" ui-sref="promotion14">
        <div class="panel panel-default pricing-widget">
          <div class="panel-heading">
            <a href="#promotion12" class="text-info font-18">会员赠券</a>
          </div>
          <div class="panel-body" style="padding:10px  ;height:64px;">
            <p class="font-12 text-muted">获取顾客信息，分析顾客消费习惯，帮助商户做到精准营销</p>
          </div>
        </div>
      </div>
    </div> -->


  </div>
</div>
