<div class="panel">
  <div class="panel-heading"><a class="return-up" href="javascript:history.back()"><i class="glyphicon glyphicon-arrow-up"></i> 返回上一级</a> 促销活动详情</div>
  <div class="panel-tab clearfix">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="">
          <i class="fa fa-rmb"></i> 基本信息
        </a>
      </li>
      <li class="">
        <a href="">
          <i class="fa fa-search-plus"></i> 活动试用菜品
        </a>
      </li>
    </ul>
  </div>
  <div class="panel-body">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
							<div class="panel-heading">
								Simple Table
							</div>
							<div class="panel-body">
								Some default panel content here.
							</div>
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th>Task</th>
										<th>Progress</th>
										<th></th>
										<th>Time</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Bug Fixes</td>
										<td>
											<div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
												<div class="progress-bar" style="width: 45%">
													<span class="sr-only">45% Complete</span>
												</div>
											</div>
										</td>
										<td>45%</td>
										<td><span class="badge badge-warning">2hr</span></td>
                  </tr>
								</tbody>
							</table>
						</div>
    </div>
  </div>
  </div>
</div>