<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="return-up" ui-sref="promotion">
                    <i class="glyphicon glyphicon-arrow-up"></i> 返回上一级
                </a>
                <i class="glyphicon glyphicon-list"></i> 会员价格
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <h2>{{promotionData.promotion.name}}</h2>
                </div>
                <form class="form-horizontal form-border" name="promotionForm">
                    <div class="panel panel-default">
                        <div class="panel-heading ">
                            <strong>输入基本信息</strong>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">活动名称 :</label>
                                <div class="col-lg-10" ng-class="{'has-error':promotionForm.activity.$invalid&&promotionForm.activity.$dirty}">
                                    <input class="form-control" type="text" name="activity" placeholder="活动名称" ng-model="promotionData.promotion.name" required datepicker-dir>
                                    <label class="control-label" ng-show="promotionForm.activity.$invalid&&promotionForm.activity.$dirty">必填项</label>
                                </div>
                                <!-- /.col -->
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">开始时间 :</label>
                                <div class="col-lg-10" ng-class="{'has-error':promotionForm.promotionBeginTime.$invalid&&promotionForm.promotionBeginTime.$dirty}">
                                    <div class="input-group" ng-class="{'parsley-error':promotionForm.promotionBeginTime.$invalid&&promotionForm.promotionBeginTime.$dirty}">
                                        <input name="promotionBeginTime" ng-model="promotionData.promotion.beginTime" class="form-control
                             datepicker
                             datepickerTime
                             time-cursor-pointer" type="text" placeholder="开始时间" data-date-picktime="false" data-date-language="zh-cn" data-date-showtoday="true" datepicker-dir readonly required>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <label class="control-label" ng-show="promotionForm.promotionBeginTime.$invalid&&promotionForm.promotionBeginTime.$dirty">必填项</label>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">结束时间 :</label>
                                <div class="col-lg-10" ng-class="{'has-error':promotionForm.promotionEndTime.$invalid&&promotionForm.promotionEndTime.$dirty}">
                                    <div class="input-group">
                                        <input type="text" name="promotionEndTime" ng-model="promotionData.promotion.endTime" class="form-control datepicker datepickerTime time-cursor-pointer" data-date-picktime="false" data-date-language="zh-cn" data-date-showtoday="true" placeholder="结束时间" datepicker-dir readonly>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <label class="control-label" ng-show="promotionForm.promotionEndTime.$invalid&&promotionForm.promotionEndTime.$dirty">必填项</label>
                                </div>
                                <!-- /.col -->
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">每周参加时间</label>
                                <div class="col-lg-10">
                                    <label class="label-radio inline">
                                        <input type="checkbox" name="inline-radio" value="monday" ng-model="promotionData.promotion.monday">
                                        <span class="custom-checkbox"></span> 周一
                                    </label>
                                    <label class="label-radio inline">
                                        <input type="checkbox" name="inline-radio" value="tuesday" ng-model="promotionData.promotion.tuesday">
                                        <span class="custom-checkbox"></span> 周二
                                    </label>
                                    <label class="label-radio inline">
                                        <input type="checkbox" name="inline-radio" value="wednesday" ng-model="promotionData.promotion.wednesday">
                                        <span class="custom-checkbox"></span> 周三
                                    </label>
                                    <label class="label-radio inline">
                                        <input type="checkbox" name="inline-radio" value="thursday" ng-model="promotionData.promotion.thursday">
                                        <span class="custom-checkbox"></span> 周四
                                    </label>
                                    <label class="label-radio inline">
                                        <input type="checkbox" name="inline-radio" value="friday" ng-model="promotionData.promotion.friday">
                                        <span class="custom-checkbox"></span> 周五
                                    </label>
                                    <label class="label-radio inline">
                                        <input type="checkbox" name="inline-radio" value="saturday" ng-model="promotionData.promotion.saturday">
                                        <span class="custom-checkbox"></span> 周六
                                    </label>
                                    <label class="label-checkbox inline">
                                        <input type="checkbox" name="inline-radio" value="sunday" ng-model="promotionData.promotion.sunday">
                                        <span class="custom-checkbox"></span> 周日
                                    </label>
                                </div>
                                <!-- /.col -->
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">参加市别 :</label>
                                <div class="col-lg-10">
                                    <select class="form-control" ng-model="selServicehour">
                                        <option ng-repeat="x in servicehours" ng-selected="selServicehour==x.id" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                                <!-- /.col -->
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">参加门店:</label>
                                <div class="col-lg-10">
                                    <label class="control-label">{{promotionData.promotion.shops[0].name}} </label>
                                </div>
                                <!-- /.col -->
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">会员类型:</label>
                                <div class="col-lg-10">
                                    <label class="control-label">{{selVipName}} </label>
                                </div>
                                <!-- /.col -->
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">备注:</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="3" style="resize:none" ng-model="promotionData.promotion.remark"></textarea>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <label class="label-checkbox">
                                        <input type="checkbox" ng-init="meanwhile=false" ng-model="promotionData.promotion.exclusive">
                                        <span class="custom-checkbox"></span> 不与其他促销活动同时进行
                                    </label>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading ">
                            <strong>添加菜品会员价</strong>
                        </div>
                        <table class="table table-striped" id="responsiveTable">
                            <thead>
                                <tr>
                                    <th>
                                        菜品
                                    </th>
                                    <th>当前价格</th>
                                    <th>会员价格</th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in VegetableArr">
                                    <td>{{x.name}} <span ng-show="x._unitType">({{x._unitType.name}})</span></td>
                                    <td>{{x.price}}</td>
                                    <td ng-class="{'has-error':promotionForm.price{{$index}}.$invalid&&promotionForm.price{{$index}}.$dirty}">
                                        <input style="width:80px;" type="text" class="form-control" name="price{{$index}}" ng-model="x.vipPrice" required ng-pattern="/^[-+]?\d+(\.\d+)?$/" placeholder="必填项">
                                        <label class="control-label" ng-show="promotionForm.price{{$index}}.$invalid&&promotionForm.price{{$index}}.$dirty">必须是数字</label>
                                    </td>
                                    <td><a class="btn btn-xs btn-danger del-btn" type="button" ng-click="delVegetableTable(x.id)"><i class="fa fa-trash-o"></i>  删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="dropdown-menu" style="width:460px; display:block; left:auto; top:0px; right:0px;" ng-hide="addVegetableShow">
                            <div class="panel-heading ">
                                <strong>
                            可添加的菜品
                        </strong>
                                <button type="button" class="close" ng-click="closeVegeTable()">
                                    ×
                                </button>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <select class="input-sm form-control inline" ng-model="groupsValue" ng-change="groupsChange()">
                                            <option value="default">
                                                菜品大类
                                            </option>
                                            <option ng-repeat="x in groups" value="{{x.id}}">
                                                {{x.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <select class="input-sm form-control inline" ng-model="subGroupsValue" ng-change="subGroupsChange()">
                                            <option value="default">
                                                菜品小类
                                            </option>
                                            <option ng-repeat="x in subgroups" value="{{x.id}}">
                                                {{x.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <a class="btn btn-success pull-right" ng-hide="addVegetableShow" ng-click="addVegetableTable()">
                                    添加
                                </a>
                                    </div>
                                    <div class="padding-md">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover" style="margin-bottom:0;" id="responsiveTable">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="label-checkbox">
                                                <input type="checkbox" ng-click="selFoodChkAll()" ng-model="chkAllBtn" id="chk-all">
                                                <span class="custom-checkbox">
                                        </span>
                                            </label>
                                        </th>
                                        <th class="col-md-5">
                                            菜品
                                        </th>
                                        <th class="col-md-3">
                                            菜品大类
                                        </th>
                                        <th class="col-md-3">
                                            菜品小类
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="table-overflow-auto">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        <tr ng-repeat="x in selFoodModels" ng-click="selFoodTable($index)" class="cursor-pointer">
                                            <td>
                                                <input type="checkbox" ng-model="x.sel" class="chk-row">
                                                <span class="custom-checkbox">
                                        </span>
                                            </td>
                                            <td class="col-md-5">
                                                {{x.name}}
                                                <span ng-show="x._unitType">({{x._unitType.name}})</span>
                                            </td>
                                            <td class="col-md-3">
                                                {{x.group}}
                                            </td>
                                            <td class="col-md-3">
                                                {{x.subGroup}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer clearfix f-pr">
                            <a class="btn btn-success pull-right" ng-show="addVegetableShow" ng-click="addVegetableTable()">
                        添加
                    </a>
                        </div>
                    </div>
                    <div class="panel panel-default" id="nonparticipator">
                        <div class="panel-heading ">
                            <strong>不参加活动时间</strong>
                        </div>
                        <table class="table table-striped" id="responsiveTable">
                            <thead>
                                <tr>
                                    <th>
                                        开始时间
                                    </th>
                                    <th>结束时间</th>
                                    <th>
                                        市别
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in nonparticipatorTimeData">
                                    <td>
                                        <input ng-model="nonparticipatorTimeData[$index].beginTime" name="{{'begintime'+$index}}" style="width:92px;" type="text" class="form-control datepicker datepickerTime time-cursor-pointer" data-date-picktime="false" data-date-language="zh-cn" data-date-showtoday="true" datepicker-dir readonly placeholder="必填项">
                                    </td>
                                    <td ng-class="{'has-error':promotionForm['endtime'+$index].$invalid&&promotionForm['endtime'+$index].$dirty}">
                                        <input ng-model="nonparticipatorTimeData[$index].endTime" name="{{'endtime'+$index}}" style="width:92px;" type="text" class="form-control datepicker datepickerTime time-cursor-pointer" data-required="true" data-date-picktime="false" data-date-language="zh-cn" data-date-showtoday="true" datepicker-dir readonly placeholder="必填项">
                                    </td>
                                    <td>
                                        <select style="width:120px;" class="form-control" ng-model="x.serviceHour">
                                            <option ng-repeat="y in servicehours" ng-selected="x.serviceHour==y.id" value="{{y.id}}">{{y.name}}</option>
                                        </select>
                                    </td>
                                    <td><a class="btn btn-xs btn-danger del-btn" ng-click="delNonparticipator($index)"><i class="fa fa-trash-o"></i>  删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="panel-footer clearfix">
                            <a id="addTimeTable" class="btn btn-success pull-right" ng-click="nonparticipator()">添加</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="padding-md text-center">
                             <button type="submit" ng-disabled="isPosting||promotionForm.$invalid" class="btn btn-success btn-small" ng-click="submitData()">保存<span ng-show="isPosting">中...</span></button>
                        </div>
                    </div>
                    <div class="padding-md"></div>
                    <div class="padding-md"></div>
                    <div class="padding-md"></div>
                </form>
            </div>
        </div>
    </div>
</div>
